*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: Courier New,Courier,Monaco;
    font-size: 11px;
    background-image: url(../img/background2.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    position: relative;
    width: 85%;
    height: 666px;
    margin-left: auto;
    margin-right: auto;
} 

/* CSS phần header */
.header{

}
.header .logo{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin-top: 10px;
}
.header .menu_bar li{
}
.header .menu_bar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
.header .menu_bar li a:hover{
    text-decoration: underline .5px;
}


/* CSS phần main */
/* phần danh sách sản phẩm */
#main{
    /* width: 100%;
    height: auto; */
}

